# Python
__pycache__/
*.py[cod]
.env
*.env
venv/
# Metadata from packaging tools
*.egg-info/

# Data
data/
*.png
*.json

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# Hugging Face
cache/
*.cache
*.huggingface

# Logs
logs/
